*.iml
/local.properties
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/vcx.xml
.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle/wrapper/gradle-wrapper.properties
.idea/codeStyles/Project.xml
.idea/vcs.xml
